<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>itving</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- DBCPConn -->
  <resource-ref>
  	<description>Oracle Database Source</description>
  	<res-ref-name>jdbc/myOracle</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- 프로젝트 -->
  <servlet>
  	<servlet-name>customServlet</servlet-name>
  	<servlet-class>com.proj3.CustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>customServlet</servlet-name>
  	<url-pattern>/itving/*</url-pattern>
  </servlet-mapping>

  <!-- 로그인 필터 -->
   <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.filter.LoginFilter</filter-class>
  		<init-param>
  			<param-name>charset</param-name>
  			<param-value>utf-8</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/itving/main.do</url-pattern>
  	<url-pattern>/itving/playVideo.do</url-pattern>
  	<url-pattern>/itving/playList.do</url-pattern>
  </filter-mapping>
  
  
  
  
  <!-- 파일 업로드 -->
  <servlet>
  	<servlet-name>fileTestServlet</servlet-name>
  	<servlet-class>com.fileTest.FileTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>fileTestServlet</servlet-name>
  	<url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  
  <!--서블릿 이미지 업로드 셋팅 -->
  <servlet>
 	<servlet-name>imageServlet</servlet-name>
  	<servlet-class>com.imageTest.ImageTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>imageServlet</servlet-name>
  	<url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>